<div class="shop-container">
  <h1>{{ title }}</h1>

  <div class="controls-container">
    <div class="controls-header">
      <span>Controls:</span>
      <button mat-icon-button [ngClass]="{ active: activeControl === 'filter' }" (click)="setActiveControl('filter')">
        <mat-icon>filter_alt</mat-icon>
      </button>
      <button mat-icon-button [ngClass]="{ active: activeControl === 'add' }" (click)="setActiveControl('add')">
        <mat-icon>add</mat-icon>
      </button>
      <button mat-icon-button [ngClass]="{ active: activeControl === 'delete' }" (click)="setActiveControl('delete')">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
    @if (this.activeControl === 'add') {
      <div class="add-product">
        <mat-form-field appearance="outline">
          <mat-label>Product Name</mat-label>
          <input matInput type="text" [(ngModel)]="newProduct.name">
        </mat-form-field>
    
        <mat-form-field appearance="outline">
          <mat-label>Description</mat-label>
          <input matInput type="text" [(ngModel)]="newProduct.description">
        </mat-form-field>
    
        <mat-form-field appearance="outline">
          <mat-label>Type</mat-label>
          <mat-select [(value)]="newProduct.type">
            @for (type of types; track $index) {
              <mat-option [value]="type">{{ type | productType }}</mat-option>
            }
          </mat-select>
        </mat-form-field>    
    
        <mat-form-field appearance="outline">
          <mat-label>Price</mat-label>
          <input matInput type="number" [(ngModel)]="newProduct.price">
        </mat-form-field>
    
        <button mat-stroked-button (click)="addProduct()">Add Product</button>
      </div>
    }
    @if (this.activeControl === 'delete') {
      <div class="delete-product">
        <mat-form-field appearance="outline">
          <mat-label>Select a Product to Delete</mat-label>
          <mat-select [(value)]="selectedProductId">
            @for (product of products; track product.id) {
              <mat-option [value]="product.id">{{ product.name }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      
        <button mat-stroked-button (click)="deleteSelectedProduct()">
          Delete Product
        </button>
      </div>
    }
    @if (this.activeControl === 'filter') {
      <div class="filter-product">

      </div>
    }
  </div>

  <div class="product-grid">
    @for (product of products; track trackById($index, product)) {
      <app-product [product]="product" (inCart)="addToCart($event)"></app-product>
    }
  </div>
</div>
