.add-product {
  background: var(--bg-color);
  padding: 15px;
  border-radius: 8px;
  box-shadow: var(--box-shadow);
  text-align: left;
  max-width: 1000px;
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  align-items: center;

  mat-form-field {
    flex: 1;
    min-width: 200px;
  }

  button {
    height: 56px;
    align-self: stretch;
    border-radius: 4px;
  }

  .preview-image {
    width: 100px;
    height: auto;
    margin-top: 10px;
    border-radius: 8px;
    box-shadow: var(--box-shadow);
  }
}

.shop-container {
  text-align: center;
  padding: 20px;

  .product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    max-width: 1000px;
    margin: auto;
  }
}
