.controls-container {
  padding: 15px;
  border-radius: 8px;
  box-shadow: var(--box-shadow);
  max-width: 1000px;
  margin: auto;
  margin-bottom: 25px;

  .controls-header {
    display: flex;
    align-items: center;
    gap: 12px;

    button.active {
      background-color: var(--primary-color);

      mat-icon {
        color: var(--bg-color);
      }
    }
  }

  .add-product, .delete-product, .filter-product {
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    align-items: center;
  
    mat-form-field {
      flex: 1;
      min-width: 200px;
    }
  
    button {
      height: 56px;
      align-self: stretch;
      border-radius: 4px;
    }
  }
}


.shop-container {
  text-align: center;
  padding: 20px;

  .product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    max-width: 1000px;
    margin: auto;
  }
}
