a {
    color: var(--bg-color);
    font-size: 20px;
    border-radius: 0 !important;
}

.mdc-list-item:focus::before {
    opacity: 0 !important;
}

.active-list-item {
    background-color: var(--primary-color-hover);
    color: white;
    font-weight: bold;
}

mat-nav-list {
    min-width: 200px;
}
