<mat-card class="product-card" appearance="outlined">
  <mat-card-header>
    <mat-card-title>{{ product.name }}</mat-card-title>
    <mat-card-subtitle>{{ product.type | productType }}</mat-card-subtitle>
  </mat-card-header>
  @if (product.image) {<img mat-card-image src="{{'images/products/' + product.image}}" alt="{{ product.name }}">}
  <mat-card-content>{{ product.description }}</mat-card-content>
  <mat-card-actions>
    <p class="price">{{ product.price | price }}</p>
    <button mat-fab extended [ngClass]="{'clicked': product.isInCart}" (click)="toggleInCart()">
      @if (product.isInCart) { <mat-icon>cancel</mat-icon> } @else { <mat-icon>shopping_cart</mat-icon> }
      @if (product.isInCart) { Remove } @else { Add to Cart }
    </button>
  </mat-card-actions>
</mat-card>