<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <app-header [sidenav]="sidenav" [isLoggedIn]="isLoggedIn" (logoutEvent)="logout()"></app-header>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <button 
        mat-button 
        (click)="onToggleSidenav(sidenav)"
        class="menu-toggle-button">
        <mat-icon>menu</mat-icon>
      </button>
      <div>{{ title }}</div>
      <nav>
        <ul>
          <li><a routerLink="/home"><mat-icon>home</mat-icon>Home</a></li>
          <li><a routerLink="/shop"><mat-icon>store</mat-icon>Shop</a></li>
          <li><a routerLink="/cart"><mat-icon>shopping_cart</mat-icon>Cart</a></li>
          @if (isLoggedIn) {
            <!--
              <li><a routerLink="/profile"><mat-icon>person</mat-icon>Profile</a></li>
            -->
            <li><a href="#" (click)="$event.preventDefault(); logout()"><mat-icon>logout</mat-icon>Log out</a></li>
          }
          @else {
            <li><a routerLink="/login"><mat-icon>login</mat-icon>Log in</a></li>
          }
        </ul>
      </nav>
    </mat-toolbar>
    <router-outlet />
  </mat-sidenav-content>
</mat-sidenav-container>