.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--bg-color);
    border-radius: 8px;
    box-shadow: var(--box-shadow);
    padding: 40px 20px;
    text-align: center;
}

h1 {
    color: var(--title-color);
    font-size: 36px;
    margin-bottom: 16px;
    font-weight: bold;
}

p {
    color: var(--secondary-color);
    font-size: 20px;
    margin-bottom: 40px;
}

.shop {
    background-color: var(--primary-color);
    width: 300px;
    margin: 0 auto;
    color: var(--bg-color);
    border: none;
    border-radius: 15px;
    padding: 12px 30px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.shop:hover {
    background-color: var(--primary-color-hover);
}