/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

:root {
    --primary-color: #007bff;
    --primary-color-hover: #0056b3;
    --bg-color: #ffffff;
    --bg-color-hover: #e5e5e5;
    --title-color: #000000;
    --secondary-color: #666666;

    --box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
  }
  